body {
    background-color: #444;
    margin: 0;
    padding: 0;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}

#timesTable {
    display: flex;
    height: fit-content;
}

#timesTable>*:hover {
    background-color: lightblue;
    color: #222;
}

#timesTable:has(.row_1:hover) .row_1,
#timesTable:has(.row_2:hover) .row_2,
#timesTable:has(.row_3:hover) .row_3,
#timesTable:has(.row_4:hover) .row_4,
#timesTable:has(.row_5:hover) .row_5,
#timesTable:has(.row_6:hover) .row_6,
#timesTable:has(.row_7:hover) .row_7,
#timesTable:has(.row_8:hover) .row_8,
#timesTable:has(.row_9:hover) .row_9,
#timesTable:has(.row_10:hover) .row_10 {
    background-color: greenyellow;
    color: #222;
}

#tableFormula,
#tableFormula:hover {
    font-size: 2rem;
    padding: 1rem;
    font-weight: 700;
    flex: 100%;
}

.cell {
    cursor: pointer;
    padding: clamp(0.25rem, 1.25vw, 1rem);
    margin: clamp(0.15rem, 1vw, 0.5rem);
    font-size: clamp(0.75rem, 1vw, 1rem);
    border: 1px dashed #000;
}

.cell:hover {
    font-weight: 700;
    box-shadow: 2px 4px #222;
}

/* multiply problem css */

#problems {
    flex: 2;
    max-width: 600px;
    min-width: 180px; 
    margin: clamp(0.25rem, 1vw, 0.5rem);
}

#multiply {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    font-size: 2rem;
}

#multiply p {
    margin: 3px;
}

#multiply input {
    color: #fff;
    background-color: #444;
    border: 1px solid #000;
    margin: 0;
    padding: 0.5rem;
    text-align: right;
}

.problem {
    display: flex;
    flex-direction: column;
}

.problem label {
    font-size: 0.75rem;
}

.carry {
    width: 1rem;
    align-self: flex-start;
}

.solution {
    width: 3.5rem;
}

.defProblem {
    display: flex;
}