body {
    background-color: #444;
    margin: 0;
    padding: 0;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem 6rem;
    padding: clamp(0.25rem, 1.25vw, 1rem);
    margin: auto;
    max-width: 1440px;
}

#timesTable {
    display: flex;
    justify-content: center;
    height: fit-content;
}

#timesTable>*:hover {
    background-color: lightblue;
    color: #222;
}

#timesTable:has(.row_1:hover) .row_1,
#timesTable:has(.row_2:hover) .row_2,
#timesTable:has(.row_3:hover) .row_3,
#timesTable:has(.row_4:hover) .row_4,
#timesTable:has(.row_5:hover) .row_5,
#timesTable:has(.row_6:hover) .row_6,
#timesTable:has(.row_7:hover) .row_7,
#timesTable:has(.row_8:hover) .row_8,
#timesTable:has(.row_9:hover) .row_9,
#timesTable:has(.row_10:hover) .row_10 {
    background-color: greenyellow;
    color: #222;
}

#tableFormula,
#tableFormula:hover {
    font-size: 1.75rem;
    padding: 0 1rem;
    font-weight: 700;
    text-align: center;
    flex: 100%;
}

.cell {
    cursor: pointer;
    padding: clamp(0.25rem, 1vw, 1rem);
    margin: 0.2rem;
    border: 1px dashed #000;
}

.cell:hover {
    font-weight: 700;
    box-shadow: 2px 4px #222;
}

/*problem generation styles*/

#problems {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
    background-color: #222;
    border-radius: 0.5rem;
}

#multiply {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem clamp(1rem, 3vw, 3rem);
    align-items: center;
    justify-content: center;
}

#multiply div {
    display: flex;
    flex-direction: column;
}

.submitBtn, .helpBtn {
    height: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.helpBtn {
    font-weight: 900;
    width: fit-content;
    align-self: flex-end;
    margin-bottom: 2rem;
}

.submitBtn:hover, .helpBtn:hover {
    background-color: lightblue;
}

.submitBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

table {
    height: fit-content;
    font-size: 2rem;
    text-align: right;
    margin: 1rem auto;
}

td {
    border-radius: 0.25rem;
    border: 1px solid #aaa;
    min-width: 1.25rem;
    cursor: default;
    padding: 0 0.25rem;
}

td sub {
    font-size: 0.75rem;
}

.addCarry,
.multCarry,
.addInput,
.multInput {
    width: 1rem;
    margin: 0;
    padding: 0.25rem;
    height: 1.25rem;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: #eee;
}

.correct {
    background-color: #222;
    border: 2px solid greenyellow;
    color: greenyellow;
}

.wrong {
    border: 2px solid red;
}

.completedOut {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
    margin: -2rem;
    bottom: 25%;
}

.shrink {
    opacity: 100%;
    transform: scale(100%);
    animation: shrink 1s ease-in 2s forwards;
}

@keyframes shrink {
    from {
        opacity: 100%;
        transform: scale(100%);
    }

    to {
        opacity: 50%;
        transform: scale(75%);
    }
}