body {
    background-color: #444;
    margin: 0;
    padding: 0;
    color: #fff;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem 3rem;
    padding: clamp(0.25rem, 1.25vw, 1rem);
    margin: auto;
    max-width: 1440px;
}

#timesTable {
    display: flex;
    justify-content: center;
    height: fit-content;
}

#timesTable>*:hover {
    background-color: lightblue;
    color: #222;
}

#timesTable:has(.row_1:hover) .row_1,
#timesTable:has(.row_2:hover) .row_2,
#timesTable:has(.row_3:hover) .row_3,
#timesTable:has(.row_4:hover) .row_4,
#timesTable:has(.row_5:hover) .row_5,
#timesTable:has(.row_6:hover) .row_6,
#timesTable:has(.row_7:hover) .row_7,
#timesTable:has(.row_8:hover) .row_8,
#timesTable:has(.row_9:hover) .row_9,
#timesTable:has(.row_10:hover) .row_10 {
    background-color: greenyellow;
    color: #222;
}

#tableFormula,
#tableFormula:hover {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    padding: 0 1rem;
    font-weight: 700;
    flex: 100%;
    text-align: center;
}

.cell {
    cursor: pointer;
    padding: clamp(0.25rem, 1.25vw, 1rem);
    margin: clamp(0.15rem, 1vw, 0.5rem);
    font-size: clamp(0.75rem, 1vw, 1rem);
    border: 1px dashed #000;
}

.cell:hover {
    font-weight: 700;
    box-shadow: 2px 4px #222;
}

/*problem generation styles*/



table {
    border: 1px solid black;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    text-align: right;
    margin: auto;

}

td {
    border: 1px solid black;
}

td sub {
    font-size: 0.75rem;
}

.problem .carry {
    width: 1.25rem;
    margin: 0;
}

.problem input {
    width: 2.5rem;
    text-align: right;
}

.correct {
    border: 2px solid greenyellow;
}

.wrong {
    border: 2px solid red;
}